<footer id="footer" class="footer-wrapper">


            <section class="section" id="section_428428835">
                <div class="section-bg fill">



                </div>



                <div class="section-content relative">


                    <div class="row align-middle" id="row-1236424674">


                        <div id="col-343713077" class="col pb-0 medium-6 small-6 large-6">
                            <div class="col-inner">



                                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_895716175">
                                    <div class="img-inner dark">
                                        <img src="https://res.cloudinary.com/dsh4kbn2d/image/upload/v1776003249/Gemini_Generated_Image_3ttnhs3ttnhs3ttn_xloxdn.jpg"
                                            class="attachment-original size-original" alt="" decoding="async"
                                            loading="lazy">
                                    </div>

                                    <style>
                                        #image_895716175 {
                                            width: 35%;
                                        }
                                    </style>
                                </div>



                            </div>
                        </div>



                        <div id="col-1314987394" class="col pb-0 medium-6 small-6 large-6">
                            <div class="col-inner">



                                <div class="social-icons follow-icons full-width text-right" style="font-size:110%"><a
                                        href="https://t.me/xbackcapital" data-label="Telegram" target="_blank"
                                        class="icon button circle is-outline tooltip telegram"
                                        title="Theo dõi trên Telegram" aria-label="Theo dõi trên Telegram"
                                        rel="noopener nofollow"><i class="icon-telegram" aria-hidden="true"></i></a>
                                </div>


                            </div>
                        </div>



                    </div>

                </div>


                <style>
                    #section_428428835 {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        min-height: 0px;
                    }

                    @media (min-width:550px) {
                        #section_428428835 {
                            padding-top: 30px;
                            padding-bottom: 30px;
                            min-height: 230px;
                        }
                    }
                </style>
            </section>

            <div class="absolute-footer dark medium-text-center small-text-center">
                <div class="container clearfix">


                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="top-link"
                class="back-to-top button icon invert plain fixed bottom z-1 is-outline circle hide-for-medium"
                aria-label="Lên đầu trang"><i class="icon-angle-up" aria-hidden="true"></i></button>
        </footer>


